In [1]:
import pyspark.sql.functions as sql_functions
from pyspark.sql.functions import *
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [5]:
#Creating a RDD
df = sqlContext.read.json("file:/home/utkarsh/Downloads/sample1.json", multiLine=True)
df.printSchema()

root
 |-- _corrupt_record: string (nullable = true)

In [13]:
#Creating a RDD
df = sqlContext.read.json("file:/home/utkarsh/Downloads/sample1.json", multiLine=True)
df.printSchema()

root
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: long (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- last_name: string (nullable = true)

In [14]:
df.show()

+--------------------+----------+------+---+--------------+---------+
|               email|first_name|gender| id|    ip_address|last_name|
+--------------------+----------+------+---+--------------+---------+
|    radhe4@census.us|     radhe|  Male|  1|  126.58.193.2| lalaraam|
| gfrediani@senate.us|  totaraam|  Male|  2|  67.179.4.212|   gilani|
|        neha2@vk.com|      Neha|Female|  3|192.66.162.255|   jadhav|
|lothalpiyush2@vk.com|    Piyush|  Male|  4|  64.76.188.26|   lothal|
+--------------------+----------+------+---+--------------+---------+