In [1]:
from pyspark.sql.functions import hour,minute,second,col,avg,when
from pyspark.sql import SQLContext
import pyspark.sql.functions as sql_functions
import datetime
sqlContext = SQLContext(sc)

In [2]:
df = sqlContext.read.csv("hdfs://localhost:54310/user/hduser/user_log_data.csv",header = True, inferSchema = True)

In [3]:
df1 = df.withColumn('hours', hour(df['idle_time']))

In [4]:
x = df1.select('user_name','hours')
x = x.withColumn('h_s', x['hours'] * 3600)

In [5]:
x.show()

+--------------------+-----+-----+
|           user_name|hours|  h_s|
+--------------------+-----+-----+
|  sahil24c@gmail.com|    5|18000|
|magadum.iranna@gm...|    2| 7200|
|  yathink3@gmail.com|    1| 3600|
|  shelkeva@gmail.com|    0|    0|
|puruissimple@gmai...|    3|10800|
|sangita.awaghad19...|    1| 3600|
|vaishusawant143@g...|    0|    0|
|     you@example.com|    2| 7200|
|samadhanmahajan73...|    1| 3600|
|vishnu23kumar@gma...|    4|14400|
|ashutoshrit64@gma...|    0|    0|
|akshaybavalekar10...|    1| 3600|
|khairnarswapna99@...|    0|    0|
|kukadeshilpaa7m95...|    0|    0|
|sarikabarge111@gm...|    1| 3600|
|narsimharaj.kasu0...|    2| 7200|
|antonyalexcm@gmai...|    0|    0|
|jitupatil937@gmai...|    0|    0|
|akshaypatwari24@g...|    1| 3600|
|aheteshams007@gma...|    1| 3600|
+--------------------+-----+-----+
only showing top 20 rows

In [6]:
df2 = df.withColumn('min', minute(df['idle_time']))
y = df2.select('user_name', 'min')
y = y.withColumn('m_s', y['min'] * 60)

In [7]:
y.show()

+--------------------+---+----+
|           user_name|min| m_s|
+--------------------+---+----+
|  sahil24c@gmail.com|  5| 300|
|magadum.iranna@gm...| 15| 900|
|  yathink3@gmail.com| 30|1800|
|  shelkeva@gmail.com| 30|1800|
|puruissimple@gmai...| 15| 900|
|sangita.awaghad19...| 55|3300|
|vaishusawant143@g...| 35|2100|
|     you@example.com| 35|2100|
|samadhanmahajan73...| 10| 600|
|vishnu23kumar@gma...| 15| 900|
|ashutoshrit64@gma...|  0|   0|
|akshaybavalekar10...| 45|2700|
|khairnarswapna99@...| 50|3000|
|kukadeshilpaa7m95...| 35|2100|
|sarikabarge111@gm...| 20|1200|
|narsimharaj.kasu0...|  5| 300|
|antonyalexcm@gmai...|  0|   0|
|jitupatil937@gmai...| 55|3300|
|akshaypatwari24@g...| 10| 600|
|aheteshams007@gma...| 35|2100|
+--------------------+---+----+
only showing top 20 rows

In [8]:
df3 = df.withColumn('sec', second(df['idle_time']))
z = df3.select('user_name', 'sec')

In [9]:
z.show()

+--------------------+---+
|           user_name|sec|
+--------------------+---+
|  sahil24c@gmail.com|  0|
|magadum.iranna@gm...|  0|
|  yathink3@gmail.com|  0|
|  shelkeva@gmail.com|  0|
|puruissimple@gmai...|  0|
|sangita.awaghad19...|  0|
|vaishusawant143@g...|  0|
|     you@example.com|  0|
|samadhanmahajan73...|  0|
|vishnu23kumar@gma...|  0|
|ashutoshrit64@gma...|  0|
|akshaybavalekar10...|  0|
|khairnarswapna99@...|  0|
|kukadeshilpaa7m95...|  0|
|sarikabarge111@gm...|  0|
|narsimharaj.kasu0...|  0|
|antonyalexcm@gmai...|  0|
|jitupatil937@gmai...|  0|
|akshaypatwari24@g...|  0|
|aheteshams007@gma...|  0|
+--------------------+---+
only showing top 20 rows

In [10]:
#Joining the dataframes
df4 = x.join(y, on = ['user_name'], how = 'inner')

In [11]:
df4.show()

+--------------------+-----+-----+---+----+
|           user_name|hours|  h_s|min| m_s|
+--------------------+-----+-----+---+----+
|  sahil24c@gmail.com|    5|18000|  5| 300|
|magadum.iranna@gm...|    2| 7200| 15| 900|
|  yathink3@gmail.com|    1| 3600| 30|1800|
|  shelkeva@gmail.com|    0|    0| 30|1800|
|puruissimple@gmai...|    3|10800| 15| 900|
|sangita.awaghad19...|    1| 3600| 55|3300|
|vaishusawant143@g...|    0|    0| 35|2100|
|     you@example.com|    2| 7200| 35|2100|
|samadhanmahajan73...|    1| 3600| 10| 600|
|vishnu23kumar@gma...|    4|14400| 15| 900|
|ashutoshrit64@gma...|    0|    0|  0|   0|
|akshaybavalekar10...|    1| 3600| 45|2700|
|khairnarswapna99@...|    0|    0| 50|3000|
|kukadeshilpaa7m95...|    0|    0| 35|2100|
|sarikabarge111@gm...|    1| 3600| 20|1200|
|narsimharaj.kasu0...|    2| 7200|  5| 300|
|antonyalexcm@gmai...|    0|    0|  0|   0|
|jitupatil937@gmai...|    0|    0| 55|3300|
|akshaypatwari24@g...|    1| 3600| 10| 600|
|aheteshams007@gma...|    1| 3600| 35|2100|
+--------------------+-----+-----+---+----+
only showing top 20 rows

In [12]:
df5 = df4.join(z, on = ['user_name'], how = 'inner')

In [13]:
df5.show()

+--------------------+-----+-----+---+----+---+
|           user_name|hours|  h_s|min| m_s|sec|
+--------------------+-----+-----+---+----+---+
|  sahil24c@gmail.com|    5|18000|  5| 300|  0|
|magadum.iranna@gm...|    2| 7200| 15| 900|  0|
|  yathink3@gmail.com|    1| 3600| 30|1800|  0|
|  shelkeva@gmail.com|    0|    0| 30|1800|  0|
|puruissimple@gmai...|    3|10800| 15| 900|  0|
|sangita.awaghad19...|    1| 3600| 55|3300|  0|
|vaishusawant143@g...|    0|    0| 35|2100|  0|
|     you@example.com|    2| 7200| 35|2100|  0|
|samadhanmahajan73...|    1| 3600| 10| 600|  0|
|vishnu23kumar@gma...|    4|14400| 15| 900|  0|
|ashutoshrit64@gma...|    0|    0|  0|   0|  0|
|akshaybavalekar10...|    1| 3600| 45|2700|  0|
|khairnarswapna99@...|    0|    0| 50|3000|  0|
|kukadeshilpaa7m95...|    0|    0| 35|2100|  0|
|sarikabarge111@gm...|    1| 3600| 20|1200|  0|
|narsimharaj.kasu0...|    2| 7200|  5| 300|  0|
|antonyalexcm@gmai...|    0|    0|  0|   0|  0|
|jitupatil937@gmai...|    0|    0| 55|3300|  0|
|akshaypatwari24@g...|    1| 3600| 10| 600|  0|
|aheteshams007@gma...|    1| 3600| 35|2100|  0|
+--------------------+-----+-----+---+----+---+
only showing top 20 rows

In [14]:
df6 = df5.withColumn('Idle_hrs', (df5['h_s'] + df5['m_s'] + df5['sec'])/3600)
df6.show()

+--------------------+-----+-----+---+----+---+------------------+
|           user_name|hours|  h_s|min| m_s|sec|          Idle_hrs|
+--------------------+-----+-----+---+----+---+------------------+
|  sahil24c@gmail.com|    5|18000|  5| 300|  0| 5.083333333333333|
|magadum.iranna@gm...|    2| 7200| 15| 900|  0|              2.25|
|  yathink3@gmail.com|    1| 3600| 30|1800|  0|               1.5|
|  shelkeva@gmail.com|    0|    0| 30|1800|  0|               0.5|
|puruissimple@gmai...|    3|10800| 15| 900|  0|              3.25|
|sangita.awaghad19...|    1| 3600| 55|3300|  0|1.9166666666666667|
|vaishusawant143@g...|    0|    0| 35|2100|  0|0.5833333333333334|
|     you@example.com|    2| 7200| 35|2100|  0|2.5833333333333335|
|samadhanmahajan73...|    1| 3600| 10| 600|  0|1.1666666666666667|
|vishnu23kumar@gma...|    4|14400| 15| 900|  0|              4.25|
|ashutoshrit64@gma...|    0|    0|  0|   0|  0|               0.0|
|akshaybavalekar10...|    1| 3600| 45|2700|  0|              1.75|
|khairnarswapna99@...|    0|    0| 50|3000|  0|0.8333333333333334|
|kukadeshilpaa7m95...|    0|    0| 35|2100|  0|0.5833333333333334|
|sarikabarge111@gm...|    1| 3600| 20|1200|  0|1.3333333333333333|
|narsimharaj.kasu0...|    2| 7200|  5| 300|  0|2.0833333333333335|
|antonyalexcm@gmai...|    0|    0|  0|   0|  0|               0.0|
|jitupatil937@gmai...|    0|    0| 55|3300|  0|0.9166666666666666|
|akshaypatwari24@g...|    1| 3600| 10| 600|  0|1.1666666666666667|
|aheteshams007@gma...|    1| 3600| 35|2100|  0|1.5833333333333333|
+--------------------+-----+-----+---+----+---+------------------+
only showing top 20 rows

In [15]:
df7 = df6.drop("hours","min","sec")
df7.show()

+--------------------+-----+----+------------------+
|           user_name|  h_s| m_s|          Idle_hrs|
+--------------------+-----+----+------------------+
|  sahil24c@gmail.com|18000| 300| 5.083333333333333|
|magadum.iranna@gm...| 7200| 900|              2.25|
|  yathink3@gmail.com| 3600|1800|               1.5|
|  shelkeva@gmail.com|    0|1800|               0.5|
|puruissimple@gmai...|10800| 900|              3.25|
|sangita.awaghad19...| 3600|3300|1.9166666666666667|
|vaishusawant143@g...|    0|2100|0.5833333333333334|
|     you@example.com| 7200|2100|2.5833333333333335|
|samadhanmahajan73...| 3600| 600|1.1666666666666667|
|vishnu23kumar@gma...|14400| 900|              4.25|
|ashutoshrit64@gma...|    0|   0|               0.0|
|akshaybavalekar10...| 3600|2700|              1.75|
|khairnarswapna99@...|    0|3000|0.8333333333333334|
|kukadeshilpaa7m95...|    0|2100|0.5833333333333334|
|sarikabarge111@gm...| 3600|1200|1.3333333333333333|
|narsimharaj.kasu0...| 7200| 300|2.0833333333333335|
|antonyalexcm@gmai...|    0|   0|               0.0|
|jitupatil937@gmai...|    0|3300|0.9166666666666666|
|akshaypatwari24@g...| 3600| 600|1.1666666666666667|
|aheteshams007@gma...| 3600|2100|1.5833333333333333|
+--------------------+-----+----+------------------+
only showing top 20 rows

In [16]:
#calculating average hours
average_hrs = df7.select(avg('idle_hrs'))
average_hrs.show()

+-------------+
|avg(idle_hrs)|
+-------------+
|      2.03125|
+-------------+

In [17]:
avg_count = df7.filter(sql_functions.col("idle_hrs") > 2.03125)

In [18]:
avg_count.count()

27

In [19]:
df7.filter(df7['idle_hrs'] < 2.03125).select('user_name').show()

+--------------------+
|           user_name|
+--------------------+
|  yathink3@gmail.com|
|  shelkeva@gmail.com|
|sangita.awaghad19...|
|vaishusawant143@g...|
|samadhanmahajan73...|
|ashutoshrit64@gma...|
|akshaybavalekar10...|
|khairnarswapna99@...|
|kukadeshilpaa7m95...|
|sarikabarge111@gm...|
|antonyalexcm@gmai...|
|jitupatil937@gmai...|
|akshaypatwari24@g...|
|aheteshams007@gma...|
|kaleshwetaanil@gm...|
|samruddhichitnis0...|
|prajktasraut16@gm...|
|damodharn21@gmail...|
|kumud50garg@gmail...|
|prathameshsalap@g...|
+--------------------+
only showing top 20 rows