In [20]:
from pyspark.sql.functions import hour,minute,second,col,avg,when

import pyspark.sql.functions as sql_functions
from pyspark.sql import SQLContext
import datetime
sqlContext = SQLContext(sc)

In [21]:
df = sqlContext.read.csv("hdfs://localhost:54310/user/hduser/user_log_data.csv",header = True, inferSchema = True)

In [22]:
df.show(2)

+--------------------+-------------------+-------------------+-------------------+-------------------+
|           user_name|          idle_time|      working_hours|         start_time|           end_time|
+--------------------+-------------------+-------------------+-------------------+-------------------+
|  sahil24c@gmail.com|2019-10-24 05:05:00|2019-10-24 05:50:00|2019-10-24 08:30:02|2019-10-24 19:25:02|
|magadum.iranna@gm...|2019-10-24 02:15:00|2019-10-24 08:39:59|2019-10-24 08:30:02|2019-10-24 19:25:01|
+--------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 2 rows

In [23]:
df1 = df.withColumn('hours', hour(df['start_time']))
x = df1.select('user_name','hours')
x.show(2)

+--------------------+-----+
|           user_name|hours|
+--------------------+-----+
|  sahil24c@gmail.com|    8|
|magadum.iranna@gm...|    8|
+--------------------+-----+
only showing top 2 rows

In [24]:
x = x.withColumn('h_s', x['hours'] * 3600)
x.show(2)

+--------------------+-----+-----+
|           user_name|hours|  h_s|
+--------------------+-----+-----+
|  sahil24c@gmail.com|    8|28800|
|magadum.iranna@gm...|    8|28800|
+--------------------+-----+-----+
only showing top 2 rows

In [25]:
df2 = df.withColumn('min', minute(df['start_time']))
y = df2.select('user_name', 'min')
y = y.withColumn('m_s', y['min'] * 60)
y.show(2)

+--------------------+---+----+
|           user_name|min| m_s|
+--------------------+---+----+
|  sahil24c@gmail.com| 30|1800|
|magadum.iranna@gm...| 30|1800|
+--------------------+---+----+
only showing top 2 rows

In [26]:
df3 = df.withColumn('sec', second(df['start_time']))
z = df3.select('user_name', 'sec')
z.show(2)

+--------------------+---+
|           user_name|sec|
+--------------------+---+
|  sahil24c@gmail.com|  2|
|magadum.iranna@gm...|  2|
+--------------------+---+
only showing top 2 rows

In [27]:
#Joining the dataframes
df4 = x.join(y, on = ['user_name'], how = 'inner')
df4.show(2)

+--------------------+-----+-----+---+----+
|           user_name|hours|  h_s|min| m_s|
+--------------------+-----+-----+---+----+
|  sahil24c@gmail.com|    8|28800| 30|1800|
|magadum.iranna@gm...|    8|28800| 30|1800|
+--------------------+-----+-----+---+----+
only showing top 2 rows

In [28]:
df5 = df4.join(z, on = ['user_name'], how = 'inner') 
df5.show(2)

+--------------------+-----+-----+---+----+---+
|           user_name|hours|  h_s|min| m_s|sec|
+--------------------+-----+-----+---+----+---+
|  sahil24c@gmail.com|    8|28800| 30|1800|  2|
|magadum.iranna@gm...|    8|28800| 30|1800|  2|
+--------------------+-----+-----+---+----+---+
only showing top 2 rows

In [29]:
df6 = df5.withColumn('start_hours', (df5['h_s'] + df5['m_s'] + df5['sec'])/3600)
df6.show(2)

+--------------------+-----+-----+---+----+---+-----------------+
|           user_name|hours|  h_s|min| m_s|sec|      start_hours|
+--------------------+-----+-----+---+----+---+-----------------+
|  sahil24c@gmail.com|    8|28800| 30|1800|  2|8.500555555555556|
|magadum.iranna@gm...|    8|28800| 30|1800|  2|8.500555555555556|
+--------------------+-----+-----+---+----+---+-----------------+
only showing top 2 rows

In [30]:
df11 = df.withColumn('hours', hour(df['end_time']))
x1 = df11.select('user_name','hours')
x1.show(2)

+--------------------+-----+
|           user_name|hours|
+--------------------+-----+
|  sahil24c@gmail.com|   19|
|magadum.iranna@gm...|   19|
+--------------------+-----+
only showing top 2 rows

In [31]:

x1 = x1.withColumn('h_s', x1['hours'] * 3600)
x1.show(2)

+--------------------+-----+-----+
|           user_name|hours|  h_s|
+--------------------+-----+-----+
|  sahil24c@gmail.com|   19|68400|
|magadum.iranna@gm...|   19|68400|
+--------------------+-----+-----+
only showing top 2 rows

In [32]:

df22 = df.withColumn('min', minute(df['end_time']))
y1 = df22.select('user_name', 'min')
y1 = y1.withColumn('m_s', y1['min'] * 60)
y1.show(2)

+--------------------+---+----+
|           user_name|min| m_s|
+--------------------+---+----+
|  sahil24c@gmail.com| 25|1500|
|magadum.iranna@gm...| 25|1500|
+--------------------+---+----+
only showing top 2 rows

In [33]:

df33 = df.withColumn('sec', second(df['end_time']))
z1 = df33.select('user_name', 'sec')
z1.show(2)

+--------------------+---+
|           user_name|sec|
+--------------------+---+
|  sahil24c@gmail.com|  2|
|magadum.iranna@gm...|  1|
+--------------------+---+
only showing top 2 rows

In [34]:
#Joining the dataframes
df44 = x1.join(y1, on = ['user_name'], how = 'inner')
df44.show(2)

+--------------------+-----+-----+---+----+
|           user_name|hours|  h_s|min| m_s|
+--------------------+-----+-----+---+----+
|  sahil24c@gmail.com|   19|68400| 25|1500|
|magadum.iranna@gm...|   19|68400| 25|1500|
+--------------------+-----+-----+---+----+
only showing top 2 rows

In [35]:
df55 = df44.join(z1, on = ['user_name'], how = 'inner')
df55.show(2)

+--------------------+-----+-----+---+----+---+
|           user_name|hours|  h_s|min| m_s|sec|
+--------------------+-----+-----+---+----+---+
|  sahil24c@gmail.com|   19|68400| 25|1500|  2|
|magadum.iranna@gm...|   19|68400| 25|1500|  1|
+--------------------+-----+-----+---+----+---+
only showing top 2 rows

In [36]:
df66 = df55.drop('hours', 'min')
df66.show(2)

+--------------------+-----+----+---+
|           user_name|  h_s| m_s|sec|
+--------------------+-----+----+---+
|  sahil24c@gmail.com|68400|1500|  2|
|magadum.iranna@gm...|68400|1500|  1|
+--------------------+-----+----+---+
only showing top 2 rows

In [37]:
df77 = df66.withColumn('end_hours', (df66['h_s'] + df66['m_s'] + df66['sec'])/3600)
df77.show(2)

+--------------------+-----+----+---+------------------+
|           user_name|  h_s| m_s|sec|         end_hours|
+--------------------+-----+----+---+------------------+
|  sahil24c@gmail.com|68400|1500|  2| 19.41722222222222|
|magadum.iranna@gm...|68400|1500|  1|19.416944444444443|
+--------------------+-----+----+---+------------------+
only showing top 2 rows

In [38]:
df8 = df6.select("user_name","start_hours")
df8.show(2)

+--------------------+-----------------+
|           user_name|      start_hours|
+--------------------+-----------------+
|  sahil24c@gmail.com|8.500555555555556|
|magadum.iranna@gm...|8.500555555555556|
+--------------------+-----------------+
only showing top 2 rows

In [39]:

df9 = df8.join(df77, on = ['user_name'], how = 'inner')
df9.show(2)

+--------------------+------------------+-----+----+---+-----------------+
|           user_name|       start_hours|  h_s| m_s|sec|        end_hours|
+--------------------+------------------+-----+----+---+-----------------+
|ashutoshrit64@gma...| 9.000277777777777|68400|1500|  2|19.41722222222222|
|giridhardandikwar...|10.667222222222222|68400|1500|  2|19.41722222222222|
+--------------------+------------------+-----+----+---+-----------------+
only showing top 2 rows

In [40]:
df10 = df9.select("user_name","start_hours","end_hours")
df10.show(2)

+--------------------+------------------+-----------------+
|           user_name|       start_hours|        end_hours|
+--------------------+------------------+-----------------+
|ashutoshrit64@gma...| 9.000277777777777|19.41722222222222|
|giridhardandikwar...|10.667222222222222|19.41722222222222|
+--------------------+------------------+-----------------+
only showing top 2 rows

In [41]:
df11 = df10.withColumn('Time_spent', (df10['end_hours'] - df10["start_hours"]))
df11.show(2)

+--------------------+------------------+-----------------+------------------+
|           user_name|       start_hours|        end_hours|        Time_spent|
+--------------------+------------------+-----------------+------------------+
|ashutoshrit64@gma...| 9.000277777777777|19.41722222222222|10.416944444444445|
|giridhardandikwar...|10.667222222222222|19.41722222222222|              8.75|
+--------------------+------------------+-----------------+------------------+
only showing top 2 rows

In [42]:

df12 = df11.select('user_name','Time_spent').show(2)

+--------------------+------------------+
|           user_name|        Time_spent|
+--------------------+------------------+
|ashutoshrit64@gma...|10.416944444444445|
|giridhardandikwar...|              8.75|
+--------------------+------------------+
only showing top 2 rows