In [1]:
rom pyspark.sql.functions import hour,minute,second,col,avg,when
from pyspark.sql import SQLContext
import pyspark.sql.functions as sql_functions
sqlContext = SQLContext(sc)

SyntaxError: invalid syntax (<ipython-input-1-3253c09cf32d>, line 1)

In [2]:
from pyspark.sql.functions import hour,minute,second,col,avg,when
from pyspark.sql import SQLContext
import pyspark.sql.functions as sql_functions
sqlContext = SQLContext(sc)

In [3]:
df = sqlContext.read.csv("file:///home/utkarsh/Downloads/SacramentocrimeJanuary2006.csv",header = True, inferSchema = True)

In [4]:

#performaing Action
df.show(2)

+-----------+-------------------+--------+----------+----+--------------------+-------------+-----------+------------+
|  cdatetime|            address|district|      beat|grid|          crimedescr|ucr_ncic_code|   latitude|   longitude|
+-----------+-------------------+--------+----------+----+--------------------+-------------+-----------+------------+
|1/1/06 0:00| 3108 OCCIDENTAL DR|       3|3C        |1115|10851(A)VC TAKE V...|         2404|38.55042047|-121.3914158|
|1/1/06 0:00|2082 EXPEDITION WAY|       5|5A        |1512|459 PC  BURGLARY ...|         2204|38.47350069|-121.4901858|
+-----------+-------------------+--------+----------+----+--------------------+-------------+-----------+------------+
only showing top 2 rows

In [5]:
#Counting total people 
df1 = df.select('address').count()
df1

7584

In [6]:
df.groupBy("address").sum("district").show()

+--------------------+-------------+
|             address|sum(district)|
+--------------------+-------------+
|        4901 58TH ST|            6|
|        2208 24TH ST|            3|
|      148 LINDLEY DR|            2|
|           1720 L ST|            3|
|   1330 LONGSHORE CT|            2|
|           1214 L ST|            3|
|       99 CAFARO CIR|            1|
|       5TH ST / I ST|            6|
|        2017 17TH ST|            3|
|RIO LINDA BLVD / ...|            2|
| 2450 NORTHGATE BLVD|            1|
|FRANKLIN BLVD / W...|            4|
| 3211 RIVERSIDE BLVD|            4|
|       3RD ST / N ST|            3|
| 8201 POWER RIDGE RD|            6|
|     6 EAGLE ROCK CT|            6|
|    7947 CENTER PKWY|            5|
| 2082 EXPEDITION WAY|            5|
|   6625 VALLEY HI DR|            5|
|        3962 3RD AVE|            6|
+--------------------+-------------+
only showing top 20 rows

In [7]:
#FILTER OPEARTION

df.filter(df['district'] > 5).select('address').show()

+--------------------+
|             address|
+--------------------+
|      22 BECKFORD CT|
|  5301 BONNIEMAE WAY|
|  2315 STOCKTON BLVD|
|        5112 63RD ST|
|     8460 ROVANA CIR|
|       4856 11TH AVE|
|        6033 69TH ST|
|        3525 42ND ST|
|        3340 62ND ST|
|      7001 EAST PKWY|
|        6115 63RD ST|
|        5140 61ST ST|
|        3820 65TH ST|
|  6665 STOCKTON BLVD|
| 63RD ST / JANSEN DR|
|       3807 24TH AVE|
|POWER INN RD / EL...|
|       5620 34TH AVE|
|         1 CLAUSS CT|
|   6021 WILKINSON ST|
+--------------------+
only showing top 20 rows

In [8]:
df.describe().show()

+-------+-----------+--------------------+------------------+----------+-----------------+--------------------+-----------------+-------------------+-------------------+
|summary|  cdatetime|             address|          district|      beat|             grid|          crimedescr|    ucr_ncic_code|           latitude|          longitude|
+-------+-----------+--------------------+------------------+----------+-----------------+--------------------+-----------------+-------------------+-------------------+
|  count|       7584|                7584|              7584|      7584|             7584|                7584|             7584|               7584|               7584|
|   mean|       null|                null|3.5746308016877637|      null|916.2507911392405|                null|4275.068829113924|  38.55980901661417|-121.46383201401629|
| stddev|       null|                null|1.6425118092977469|      null|407.4363096634682|                null|2171.593193372966|0.05610092030305221|0.03462140264056833|
|    min|1/1/06 0:00|         1 CLAUSS CT|                 1|          |              102|10.48.150 E FALSI...|              909|        38.43799945|       -121.5558323|
|    max|1/9/06 9:58|YREKA AVE / CANYO...|                 6|6C        |             1661|WARRANT SERVED - ...|             8102|        38.68378949|       -121.3652379|
+-------+-----------+--------------------+------------------+----------+-----------------+--------------------+-----------------+-------------------+-------------------+